#shop h3,h4{
    text-align: center;
    

}

#shop .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#shop article{
    margin: 34px;
}
#shop img{
    width: 180px;
    height: 100%;
    
}
